/*
* Reset
*/
[class^="ch-icon-"]:before,
[class*=" ch-icon-"]:before,
[class^="ch-icon-"]:after,
[class*=" ch-icon-"]:after {
	display: none;
}

.ch-list li a:after,
.ch-list li a:before {
	content: "&nbsp;";
	display: none;
	text-indent: -9999px;
	overflow: hidden;
}

/*
* Sprite
*/
.ch-icon-list,
.ch-list li a, 
.ch-bellows-trigger,
.ch-expando-trigger, 
.ch-expando-trigger-on {
	background-image: url("../assets/sprite-mobile.png");
	background-repeat: no-repeat;
}

.ch-list li a {
	background-position: right -183px;
}

.ch-expando .ch-icon-chevron-down {
	background-position: right -331px;
}

.ch-expando-trigger-on {
	background-position: right -252px;
}

.ch-icon-list {
	background-position: 10px -48px;
}

/*
*	Messages
*/
.ch-message-attention, .ch-message-check, .ch-message-error, 
.ch-message-help, .ch-message-information, .ch-message-ok {
	padding-left: 10px;
}